<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>
<body>
  <div class="frame">
      <img src="assets/background.jpg" alt="photo" class="background">
          <p class="hometext">Vacation Rentals Around The WORLD</p>
          <p class="hometext2">Find and book unique accommodation on Rentals</p>
          <p class="hometext3"> DISCOVER New PLaces!!</p>
      </div>
</body>
</html>
